<a href="https://colab.research.google.com/github/sathwikduvva7/lab-1/blob/main/sathwik.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('/Even.xlsx', sheet_name='messy_2_employee_data')

In [ ]:
num_unique_roles = df["Job_Role"].nunique()
unique_roles = df["Job_Role"].unique()
print("Number of unique job roles:", num_unique_roles)
print("Unique job roles:", unique_roles)

Number of unique job roles: 5
Unique job roles: ['Developer' 'Manager' 'Engineer' 'Analyst' 'Data Scientist' nan]

In [ ]:
duplicate_employees = df[df.duplicated(subset=["Employee_ID"], keep=False)]

print(duplicate_employees)

    Employee_Name  Employee_ID        Job_Role  Phone_Number  \
6   Michael Jones         3654         Manager  8.045243e+09
16    Laura Jones         5596         Analyst  6.650995e+09
50     John Jones         1442  Data Scientist  3.139018e+09
56            NaN         3654       Developer  5.844402e+09
72    Jane Wilson         5596         Manager  9.602139e+09
98    Sarah Smith         1442         Analyst  3.294945e+09

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month
6     laura.williams@example.com                      160.0           11200.0
16     john.williams@example.com                      200.0           10000.0
50     laura.williams@sample.org                      160.0            8000.0
56          laura.brown@test.net                      -10.0          100000.0
72          jane.miller@test.net                      200.0           12000.0
98  jessica.anderson@example.com                      -10.0           -5000.0

In [ ]:
negative_salaries = df[df["Salary_per_Month"] < 0]
print(negative_salaries)

      Employee_Name  Employee_ID        Job_Role  Phone_Number  \
2    Sarah Anderson         2353       Developer  9.463822e+09
8               NaN         5890       Developer  3.155312e+09
12      Laura Davis         6915        Engineer  9.849898e+09
14   Michael Miller         1634  Data Scientist  2.416309e+09
17     John Johnson         8521         Analyst  8.917196e+09
20      Laura Davis         8202             NaN  5.790057e+09
32              NaN         1603        Engineer  4.795532e+09
38     Emily Wilson         9713         Manager  7.156704e+09
41    Jane Williams         7226             NaN  5.351126e+09
48      Chris Jones         9320  Data Scientist  2.767192e+09
60       Jane Jones         6742  Data Scientist  8.355664e+09
62      David Brown         5344  Data Scientist  2.606042e+09
64   Jessica Wilson         6131       Developer  1.805531e+09
70  Michael Johnson         5045         Analyst  8.703092e+09
71    Jane Anderson         8889         Manager  7.736842e+09
81    Jessica Brown         8979        Engineer  3.949648e+09
87    Sarah Johnson         3476             NaN           NaN
89       Jane Jones         7778  Data Scientist           NaN
93    Laura Johnson         2658        Engineer  2.847548e+09
98      Sarah Smith         1442         Analyst  3.294945e+09

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month
2        sarah.wilson@sample.org                     9999.0           -5000.0
8         jane.williams@test.net                     9999.0           -5000.0
12       sarah.brown@example.com                        NaN           -5000.0
14        emily.johnson@test.net                     9999.0           -5000.0
17    jessica.miller@example.com                        NaN           -5000.0
20                           NaN                     9999.0           -5000.0
32          emily.jones@test.net                     9999.0           -5000.0
38        jessica.smith@test.net                      -10.0           -5000.0
41        david.johnson@test.net                     9999.0           -5000.0
48       laura.taylor@sample.org                      -10.0           -5000.0
60       james.wilson@sample.org                      -10.0           -5000.0
62                           NaN                     9999.0           -5000.0
64           john.davis@test.net                        NaN           -5000.0
70    michael.miller@example.com                     9999.0           -5000.0
71     michael.smith@example.com                     9999.0           -5000.0
81     sarah.johnson@example.com                      -10.0           -5000.0
87     jessica.wilson@sample.org                     9999.0           -5000.0
89       sarah.brown@example.com                     9999.0           -5000.0
93      james.wilson@example.com                      -10.0           -5000.0
98  jessica.anderson@example.com                      -10.0           -5000.0

In [ ]:
df["Salary_per_Month"] = df["Salary_per_Month"].abs()

In [ ]:
df.to_excel('Corrected_Employees.xlsx', index=False)

In [ ]:
import pandas as pd
import re

# Load the dataset
df = pd.read_excel('/Even.xlsx', sheet_name='messy_2_employee_data')

# Function to clean phone numbers
def clean_phone(phone):
    phone = re.sub(r'\D', '', str(phone))  # Remove all non-numeric characters
    return phone[-10:]  # Keep only the last 10 digits (assuming local numbers)

# Apply the function to standardize phone numbers
df["Phone_Number"] = df["Phone_Number"].apply(clean_phone)

# Save the cleaned data
df.to_excel('Cleaned_Phone_Numbers.xlsx', index=False)

print("Phone numbers standardized successfully!")

Phone numbers standardized successfully!

In [ ]:
df1 = pd.read_excel("/content/Cleaned_Employee_Data.xlsx")

In [ ]:
print(df1)

     Employee_Name  Employee_ID   Job_Role  Phone_Number  \
0      Jane Miller         8797  Developer  3.801881e+09
1    Michael Brown         6540    Manager  7.904752e+09
2   Sarah Anderson         2353  Developer  9.463822e+09
3    Chris Johnson         6392   Engineer  8.727628e+09
4      Laura Smith         1653    Analyst  7.750284e+08
..             ...          ...        ...           ...
95     Emily Smith         5111        NaN  4.463884e+09
96    Sarah Wilson         7388   Engineer  7.455009e+09
97             NaN         3773    Manager  4.515526e+08
98     Sarah Smith         1442    Analyst  3.294945e+09
99   Michael Jones         3490    Analyst  9.425622e+09

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month  \
0       emily.taylor@example.com                 128.709677             26170
1            john.brown@test.net                 160.000000             11200
2        sarah.wilson@sample.org                 128.709677              5000
3          john.jones@sample.org                 160.000000              8000
4          sarah.taylor@test.net                 128.709677             26170
..                           ...                        ...               ...
95          james.davis@test.net                 -10.000000            100000
96      john.johnson@example.com                 128.709677            100000
97       david.miller@sample.org                 128.709677            100000
98  jessica.anderson@example.com                 -10.000000              5000
99        john.miller@sample.org                 128.709677             26170

     Hourly_Wage
0     203.325815
1      70.000000
2      38.847118
3      50.000000
4     203.325815
..           ...
95 -10000.000000
96    776.942356
97    776.942356
98   -500.000000
99    203.325815

[100 rows x 8 columns]